{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Доступ запрещен{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/error-pages.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="error-container">
    <div class="error-content">
        <div class="error-code error-code-403">403</div>
        <h1 class="error-title">Доступ запрещен</h1>
        <p class="error-message">
            У вас нет прав для просмотра этой страницы.
            Если вы считаете, что это ошибка, обратитесь к администратору.
        </p>
        <div class="error-actions">
            <a href="{{ path('course_show_all') }}" class="btn btn-primary">
                На главную
            </a>
        </div>
    </div>
</div>
{% endblock %}